section.inner-page
  .container
    .about__title.inner-page__title Сотрудничество
    .about__desc.inner-page__desc Компания «Budera» – производитель композитных купелей. Купели Budera можно увидеть на территории современных баз отдыха, на террасах загородных домов и усадеб.  Лучшие материалы и комплектующие, современное оборудование, компьютерное проектирование, великолепное качество поверхностей, оригинальные цветовые решения от классики до современности. 
      | Наслаждайтесь природой вместе с купелями Budera!