.connect 
  .container 
    .connect__wrapper 
      .connect__item 
        .connect__item-title Дилерам
        .connect__item-desc
          p В рамках существующей стратегии развития бренда «BUDERA» одной из приоритетных задач является развитие и укрепление дилерской сети в России.
          p Хотите стать ЭКСЛЮЗИВНЫМ ДИСТРИБЬЮТЕРОМ нашей продукции, ищете новые направления развития и источники дохода, разделяете наши ценности и стремления ― станьте частью нашей команды!
          p Компания «Композит хот спа» – единственные в Беларуси и России производители композитных купелей. Купели ТМ BUDERA можно увидеть в современных СПА-комплексах, на террасах загородных домов и усадеб.
        button(type="button").connect__item-btn.btn Оставить заявку
      .connect__item 
        .connect__item-title Дизайнерам
        .connect__item-desc
          p Компания «Композит хот спа» – единственные в Беларуси и России производители композитных купелей. Купели ТМ BUDERA можно увидеть в современных СПА-комплексах, на террасах загородных домов и усадеб.
          p Хотите стать ЭКСЛЮЗИВНЫМ ДИСТРИБЬЮТЕРОМ нашей продукции, ищете новые направления развития и источники дохода, разделяете наши ценности и стремления ― станьте частью нашей команды!
          p В рамках существующей стратегии развития бренда «PBUDERA» одной из приоритетных задач является развитие и укрепление дилерской сети в России.
        button(type="button").connect__item-btn.btn Оставить заявку
