section.section.advantages 
  .container.advantages__container
    .advantages__title.h2 Преимущества <br> BUDERA
    picture.advantages__img 
      img(src="./images/advantages/img.png", alt="")
    .advantages__list 
      .advantages__item.advantages__item--left
        .advantages__item-text Большой выбор цветов, разнообразие форм: круглые, овальные, угловые, квадратные.
        .advantages__item-icon 
          img(src="./images/advantages/adv-01.svg", alt="")
      .advantages__item.advantages__item--left
        .advantages__item-text Автономный нагрев <br> Наружная печка на дровах позволяет нагревать воду до 40 градусов даже зимой.
        .advantages__item-icon 
          img(src="./images/advantages/adv-02.svg", alt="")
      .advantages__item.advantages__item--right
        .advantages__item-text 100% герметичностьи долговечность <br> Герметичная пластиковая чаша из УФ-стойкого полипропиленатолщиной 8мм.
        .advantages__item-icon 
          img(src="./images/advantages/adv-03.svg", alt="")
      .advantages__item.advantages__item--right
        .advantages__item-text Изготовленные из композита купели отличаются высокими эксплуатационными характеристиками: теплостойкость, эстетичность, морозостойкость.
        .advantages__item-icon 
          img(src="./images/advantages/adv-04.svg", alt="")