section.banner 
  .container 
    .banner__wrapper 
      .banner__title.h2 Готовы <br> сделать <br> заказ ?
      button(type="button" data-popup="callback").banner__btn.btn.btn--light.js-popup-btn Оставить заявку