section.callback
  .container.callback__container 
    .callback__info 
      .callback__title.h3 Нужна консультация?
      .callback__desc Укажите Ваш номер телефона и мы перезвоним вам!
    form.callback__form(action="#")
      .callback__form-row 
        .form-group.form-group--icon
          input.form-control.js-input-tel(type="text" placeholder="+7 (___) ___ __ __")
          span.form-error-icon  
        button.form-btn.btn.btn--light Заказать обратный звонок
      .form-checkbox 
        input(type="checkbox", name="" id="consultation_condition" checked)
        label(for="consultation_condition") Согласен с условиями обработки персональных данных