section.video.section
  .container 
    .video__slider.js-video-slider
      .swiper-wrapper
        a(href="#").video-item.video-item--main.swiper-slide
          .video-item__preview 
            img(src="./images/video/video-01.jpg", alt="")
          .video-item__btn.btn-play

        a(href="#").video-item.swiper-slide 
          .video-item__preview 
            img(src="./images/video/video-02.jpg", alt="")
          .video-item__btn.btn-play

        a(href="#").video-item.swiper-slide 
          .video-item__preview 
            img(src="./images/video/video-03.jpg", alt="")
          .video-item__btn.btn-play
