.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 14px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  text-align: center;
  border-radius: 8px;
  background-color: var(--color-blck);
  color: var(--color-whte);
  cursor: pointer;
  transition: var(--transition);

  @include media(md) {
    padding: 10px 14px;
    font-size: 13px;
  }

  @media(any-hover: hover) {
    &:hover {
      background-color: var(--color-primary); 
      color: var(--color-whte);
    }
  }

  &--wide {
    width: 100%;
  }

  &--light {
    background-color: var(--color-secondary);
    color: var(--color-blck);

    @media(any-hover: hover) {
      &:hover {
        background-color: var(--color-blck); 
        color: var(--color-whte);
      }
    }
  }

  &--white {
    background-color: var(--color-whte);
    color: var(--color-blck);
  }
}


