.header {
  padding: 44px 22px 20px;
  position: fixed;
  width: 100%;
  inset: 0 0 auto;
  z-index: 100;
  background-color: var(--color-whte);

  @include media(md) {
    padding: 10px 20px;
  }

  &__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    // display: grid;
    // grid-template-columns: 1fr 2fr;

    @include media(lg) {
      gap: 0;
    }
  }

  &__logo {
    display: block;
    width: 203px;

    @include media(xl) {
      width: 140px;
    }
  }

  &__menu {
    max-width: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @include media(xxl) {
      max-width: 1200px;
    }

    @include media(lg) {
      position: fixed;
      inset: 0;
      width: 100%;
      z-index: 1000;
      background-color: var(--color-whte);
      flex-direction: column;
      padding: 40px 20px 24px;
      align-items: flex-start;
      gap: 24px;
      height: calc(100vh - 100px);
      top: 100px;
      transform: translateX(-100%);
      transition: var(--transition);

      &.is-open {
        transform: translateX(0);
      }
    }
       
    @include media(md) {
      height: calc(100vh - 51px);
      top: 51px;
    }
  }

  &__nav {

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @include media(lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      li {
        font-weight: 500;
        padding: 4px 8px;
        line-height: 1.2;
        transition: var(--transition);
        border-radius: 4px;

        @media(any-hover: hover) {

          &:hover {
            background-color: #EFF0EC;

          }
        }

        @media(any-hover: none) {

          &:active {
            background-color: #EEEEDE;
          }
        }
      }
    }
  }

  &__address {
    display: none;

    @include media(lg) {
      display: block;
    }
  }

  &__tel {

    @include media(lg) {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: auto 0 0 0;

    @include media(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-info {
      text-align: right;

      @include media(lg) {
        text-align: left;
      }

      > a {
        display: block;
      }
    }
  }

  &__mobile-contacts {
    display: none;

    @include media(lg) {
      display: block;
      margin: 0 10px 0 auto;
      text-align: right;

      > a {
        font-size: 12px;
        font-weight: 500;
        display: block;
        white-space: nowrap;
      }
    }
  }

  &__burger {
    display: none;

    @include media(lg) {
      display: block;
      --size: 36px;
      width: var(--size);
      height: var(--size);
      flex-shrink: 0;
      border-radius: 50%;
      background-color: var(--color-blck);
      position: relative;

      &.is-active {


        &::before {
          transform: rotate(45deg);
          top: 17px;
        }

        &::after {
          transform: rotate(-45deg);
          top: 17px;
        }

        span {
          display: none;
        }
      }

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--color-whte);
        position: absolute;
        left: 8px;
        top: 10px;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--color-whte);
        position: absolute;
        left: 8px;
        top: 24px;
      }

      span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--color-whte);
        position: absolute;
        left: 8px;
        top: 17px;
      }
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;

  &__item {
    --size: 36px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blck);
    color: var(--color-whte);
    border-radius: 50%;
    transition: var(--transition);

    @media(any-hover: hover) {

      &:hover {
        background-color: var(--color-blck-hover);
      }
    }
  }
}