.header {
  padding: 44px 22px 20px;
  position: fixed;
  width: 100%;
  inset: 0 0 auto;
  z-index: 100;
  background-color: var(--color-whte);

  @include media(md) {
    padding: 10px 20px;
  }

  &__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    // display: grid;
    // grid-template-columns: 1fr 2fr;
  }

  &__logo {
    display: block;
    width: 203px;

    @include media(xl) {
      width: 140px;
    }
  }

  &__menu {
    max-width: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @include media(xxl) {
      max-width: 1200px;
    }

    @include media(lg) {
      display: none;
    }
  }

  &__nav {

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      li {
        font-weight: 500;
        padding: 4px 8px;
        line-height: 1.2;
      }
    }
  }

  &__address {
    display: none;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 24px;

    &-info {
      text-align: right;

      > a {
        display: block;
      }
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;

  &__item {
    --size: 36px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blck);
    color: var(--color-whte);
    border-radius: 50%;
    transition: var(--transition);
  }
}