script(src="scripts/libs/swiper-bundle.min.js")
script(src="scripts/libs/choices.min.js")
script(src="scripts/libs/imask.min.js")
script(src="scripts/libs/fslightbox.min.js")
script(src="scripts/libs/gsap.min.js")
script(src="scripts/libs/ScrollTrigger.min.js")
<script src="https://api-maps.yandex.ru/2.1/?apikey=YOUR_API_KEY&lang=ru_RU" type="text/javascript"></script>
script(src="scripts/main.js")