section.contacts
  .container
    .contacts__title
      | &Rcy;&iecy;&kcy;&vcy;&icy;&zcy;&icy;&tcy;&ycy; &yucy;&rcy;&icy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&gcy;&ocy; &lcy;&icy;&tscy;&acy;
    .contacts__desc
      | &Icy;&Pcy; &Kcy;&vcy;&acy;&shchcy;&shcy;&gcy;&acy;&pcy; &Acy;&ncy;&vcy;&acy;&lcy;&zhcy;&dcy;&dcy;&rcy;&iecy;&jcy; &Bcy;&acy;&vcy;&ycy;&shchcy;&shcy; 
      br
      |                 &Ocy;&Gcy;&Rcy;&Ncy; 3348097212800032 
      br
      |                 &Scy;&vcy;&icy;&dcy;&iecy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy; &ocy; &gcy;&ocy;&scy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&icy; &fcy;&icy;&zcy;&lcy;&icy;&tscy;&acy; &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &Icy;&Pcy; &scy;&iecy;&rcy;&icy;&yacy; 66 &numero; 050990773 &ocy;&tcy; 08.05.2009 
      br
      |                 &Icy;&Ncy;&Ncy; 600809801534034 
      br
      |                 &Acy;&dcy;&rcy;&iecy;&scy;: 620026, &Rcy;&ocy;&scy;&scy;&icy;&yacy;, &gcy;. &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&lcy;. &Mcy;&ycy;&tcy;&icy;&shchcy;&icy;, &Fcy;&ucy;&rcy;&acy;&zhcy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&zcy;&dcy;, &dcy;.4 
      br
      |                 &Pcy;&ocy;&chcy;&tcy;&ocy;&vcy;&ycy;&jcy; &acy;&dcy;&rcy;&iecy;&scy;: 620026, &Rcy;&ocy;&scy;&scy;&icy;&yacy;, &gcy;. &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&lcy;. &Mcy;&ycy;&tcy;&icy;&shchcy;&icy;, &Fcy;&ucy;&rcy;&acy;&zhcy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&zcy;&dcy;, &dcy;.4 
      br
    a.contacts__tel(href='tel:+74952681218')
      | +7 (495) 268-12-18
    a.contacts__email(href='mailto:info@budera.ru') info@budera.ru
    .contacts__address
      | &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &ocy;&bcy;&lcy;. 
      br
      |                 &Mcy;&ycy;&tcy;&icy;&shchcy;&icy;, &Fcy;&ucy;&rcy;&acy;&zhcy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&zcy;&dcy;, &dcy;.4
