.popup.js-popup(data-popup="sucsess")  
  .popup__overlay 
  .popup__wrapper 
    .popup__content 
      button(type="button").popup__close.js-popup-close 
        +svg(24, 24, 'cross')
      .popup__head
        .popup__title.h3 Оставить заявку
        .popup__desc Ваш заявка успешно отправлена
      .popup__btn.btn.btn--light.btn--wide Продолжить