doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/swiper-bundle.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body.body
    include mixins/_mixins
    include components/header
    main
      include section/connect/_head
      include section/connect/_main
      include section/global/_advantages

    include components/footer
    include includes/scripts