doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/swiper-bundle.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body.body
    include mixins/_mixins
    include components/header
    main(style="padding: 150px 0")
      .container 
        ul 
          li 
            a(href="main.html") Главная
          li 
            a(href="product.html") Карточка товара
          li 
            a(href="portfolio.html") Портфолио
          li 
            a(href="about.html") О компании
          li 
            a(href="connect.html") Сотрудничество
          li 
            a(href="offices.html") Где купить ?
          li 
            a(href="contacts.html") Контакты

    include components/footer
    include section/popups/_callback
    include section/popups/_sucsess
    include section/popups/_order
    include includes/scripts