doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/swiper-bundle.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body.body
    include mixins/_mixins
    include components/header
    main
      include section/main/_hero
      include section/main/_products
      include section/global/_video
      include section/global/_callback
      include section/main/_portfolio
      include section/global/_advantages
      include section/main/_faq
      include section/global/_banner

    include components/footer
    include section/popups/_callback
    include section/popups/_sucsess
    include section/popups/_order
    include includes/scripts