section.product
  .container
    .product__main
      .product__img
        img(src='./images/product.png' alt='')
      .product__desc
        .product__title Купель Exelent 250
        .product__text
          | &Ecy;&tcy;&acy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy; &ndash; &lcy;&ucy;&chcy;&shcy;&iecy;&iecy;, &chcy;&tcy;&ocy; &mcy;&ocy;&zhcy;&iecy;&tcy; &ucy;&kcy;&rcy;&acy;&scy;&icy;&tcy;&softcy; &vcy;&acy;&shcy; &zcy;&acy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&ycy;&jcy; &ucy;&chcy;&acy;&scy;&tcy;&ocy;&kcy;. &Icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&icy;, &scy;&tcy;&icy;&lcy;&softcy;, &icy;&dcy;&iecy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &ocy;&bcy;&hardcy;&iecy;&mcy;!
        .product__desc-img
          img(src='./images/product.png' alt='')
        .product__details
          .product__details-section
            .product__details-title &Ocy;&pcy;&tscy;&icy;&icy;
            .product__details-option
              input#option_01(type='checkbox' name='option')
              label.product__details-option-label(for='option_01')
                span.product__details-option-control
                  span.product__details-option-check.product__details-option-icon
                    img(src="./images/check.svg", alt="")
                  span.product__details-option-cross.product__details-option-icon
                    img(src="./images/cross.svg", alt="")
                span.product__details-option-text
                  | &Gcy;&icy;&dcy;&rcy;&ocy;&mcy;&acy;&scy;&scy;&acy;&zhcy;
            .product__details-option
              input#option_02(type='checkbox' name='option')
              label.product__details-option-label(for='option_02')
                span.product__details-option-control
                  span.product__details-option-check.product__details-option-icon
                    img(src="./images/check.svg", alt="")
                  span.product__details-option-cross.product__details-option-icon
                    img(src="./images/cross.svg", alt="")
                span.product__details-option-text
                  | &Gcy;&icy;&dcy;&rcy;&ocy;&mcy;&acy;&scy;&scy;&acy;&zhcy;
            .product__details-option
              input#option_03(type='checkbox' name='option')
              label.product__details-option-label(for='option_03')
                span.product__details-option-control
                  span.product__details-option-check.product__details-option-icon
                    img(src="./images/check.svg", alt="")
                  span.product__details-option-cross.product__details-option-icon
                    img(src="./images/cross.svg", alt="")
                span.product__details-option-text
                  | &Gcy;&icy;&dcy;&rcy;&ocy;&mcy;&acy;&scy;&scy;&acy;&zhcy;
          .product__details-section
            .product__details-title &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;
            .product__details-option
              input#option_04(type='checkbox' name='option')
              label.product__details-option-label(for='option_04')
                span.product__details-option-control
                  span.product__details-option-check.product__details-option-icon
                    img(src="./images/check.svg", alt="")
                  span.product__details-option-cross.product__details-option-icon
                    img(src="./images/cross.svg", alt="")
                span.product__details-option-text
                  | &Gcy;&icy;&dcy;&rcy;&ocy;&mcy;&acy;&scy;&scy;&acy;&zhcy;
            .product__details-option
              input#option_05(type='checkbox' name='option')
              label.product__details-option-label(for='option_05')
                span.product__details-option-control
                  span.product__details-option-check.product__details-option-icon
                    img(src="./images/check.svg", alt="")
                  span.product__details-option-cross.product__details-option-icon
                    img(src="./images/cross.svg", alt="")
                span.product__details-option-text
                  | &Gcy;&icy;&dcy;&rcy;&ocy;&mcy;&acy;&scy;&scy;&acy;&zhcy;
        .product__price
          | 260 000 &#x20BD;
          span 300 000 &#x20BD;
        button.product__btn.btn(type='button')
          | &Kcy;&ucy;&pcy;&icy;&tcy;&softcy; &vcy; &ocy;&dcy;&icy;&ncy; &kcy;&lcy;&icy;&kcy;
    .product__info(data-tabs='')
      .product__tabs-head.common-tabs-controls
        button.common-tabs-control.is-selected(type='button' data-tabs-control='1') &Ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
        button.common-tabs-control(type='button' data-tabs-control='2') &Kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&acy;&tscy;&icy;&yacy;
        button.common-tabs-control(type='button' data-tabs-control='3') &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yacy;
      .product__tabs-content.common-tabs-content.is-active(data-tabs-panel='1')
        .product__tabs-desc
          p
            | &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &ocy;&pcy;&rcy;&acy;&vcy;&dcy;&ycy;&vcy;&acy;&iecy;&tcy; &scy;&vcy;&ocy;&iecy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;. &Fcy;&ucy;&ncy;&kcy;&tscy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
            | &icy; &dcy;&icy;&zcy;&acy;&jcy;&ncy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &pcy;&rcy;&icy;&zcy;&vcy;&acy;&ncy;&ycy; &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &ocy;&tcy;&dcy;&ycy;&khcy; &pcy;&rcy;&iecy;&mcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy;. &CHcy;&acy;&shcy;&acy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&acy;
            | &icy;&zcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&lcy;&acy;&scy;&scy;&ncy;&ocy;&gcy;&ocy; &mcy;&ncy;&ocy;&gcy;&ocy;&scy;&lcy;&ocy;&jcy;&ncy;&ocy;&gcy;&ocy; &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tcy;&acy;, &acy; &dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &zcy;&acy;&shchcy;&icy;&tcy;&ncy;&ycy;&iecy;
            | &icy; &dcy;&iecy;&kcy;&ocy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &scy;&vcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy; &iecy;&jcy; &pcy;&rcy;&icy;&dcy;&acy;&iecy;&tcy; &icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&iecy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy;.
          p
            | &Dcy;&lcy;&yacy; &bcy;&ocy;&lcy;&iecy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&gcy;&ocy; &vcy;&khcy;&ocy;&dcy;&acy; &vcy; &vcy;&ocy;&dcy;&ucy; &vcy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&iecy; &icy;&dcy;&iecy;&tcy; &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&acy;&yacy; &lcy;&iecy;&scy;&tcy;&ncy;&icy;&tscy;&acy;.
            | &Dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy; &kcy;&ocy;&ncy;&scy;&tcy;&rcy;&ucy;&kcy;&tscy;&icy;&yucy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy;&nbsp;&pcy;&ocy;&lcy;&ocy;&chcy;&kcy;&ocy;&jcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &bcy;&rcy;&acy;&tcy;&softcy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy;
            | &lcy;&yucy;&bcy;&icy;&mcy;&ycy;&iecy; &ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy; &icy; &ocy;&tcy;&dcy;&ycy;&khcy;&acy;&tcy;&softcy; &scy; &mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ocy;&mcy;.
          p
            | &Vcy;&ycy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ncy;&iecy;&zhcy;&icy;&tcy;&softcy;&scy;&yacy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &gcy;&ocy;&dcy;, &pcy;&rcy;&icy; &lcy;&yucy;&bcy;&ocy;&jcy; &pcy;&ocy;&gcy;&ocy;&dcy;&iecy;.
            | &Dcy;&ocy;&bcy;&icy;&tcy;&softcy;&scy;&yacy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ncy;&ocy;&jcy; &tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&ycy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &pcy;&iecy;&chcy;&softcy; &icy;&zcy; &ncy;&iecy;&rcy;&zhcy;&acy;&vcy;&iecy;&yucy;&shchcy;&iecy;&jcy;
            | &scy;&tcy;&acy;&lcy;&icy;, &acy;&kcy;&kcy;&ucy;&rcy;&acy;&tcy;&ncy;&ocy; &icy;&ncy;&tcy;&iecy;&gcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&acy;&yacy; &vcy; &iecy;&mcy;&kcy;&ocy;&scy;&tcy;&softcy;. &Zcy;&acy;&khcy;&ocy;&tcy;&iecy;&lcy;&ocy;&scy;&softcy; &pcy;&ocy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy;&scy;&yacy;
            | &vcy; &ocy;&bcy;&vcy;&ocy;&lcy;&acy;&kcy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy;, &ucy;&scy;&pcy;&ocy;&kcy;&acy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy; &tcy;&iecy;&pcy;&lcy;&ocy;? &Vcy;&scy;&iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&tcy;&ocy;&rcy;&acy; &chcy;&acy;&scy;&acy; &mdash; &icy;
            | &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ocy;&kcy;&ucy;&ncy;&acy;&tcy;&softcy;&scy;&yacy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy;
      .product__tabs-content.common-tabs-content(data-tabs-panel='2')
        .product__tabs-desc
          p
            | &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &ocy;&pcy;&rcy;&acy;&vcy;&dcy;&ycy;&vcy;&acy;&iecy;&tcy; &scy;&vcy;&ocy;&iecy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;. &Fcy;&ucy;&ncy;&kcy;&tscy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
            | &icy; &dcy;&icy;&zcy;&acy;&jcy;&ncy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &pcy;&rcy;&icy;&zcy;&vcy;&acy;&ncy;&ycy; &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &ocy;&tcy;&dcy;&ycy;&khcy; &pcy;&rcy;&iecy;&mcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy;. &CHcy;&acy;&shcy;&acy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&acy;
            | &icy;&zcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&lcy;&acy;&scy;&scy;&ncy;&ocy;&gcy;&ocy; &mcy;&ncy;&ocy;&gcy;&ocy;&scy;&lcy;&ocy;&jcy;&ncy;&ocy;&gcy;&ocy; &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tcy;&acy;, &acy; &dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &zcy;&acy;&shchcy;&icy;&tcy;&ncy;&ycy;&iecy;
            | &icy; &dcy;&iecy;&kcy;&ocy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &scy;&vcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy; &iecy;&jcy; &pcy;&rcy;&icy;&dcy;&acy;&iecy;&tcy; &icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&iecy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy;.
          p
            | &Dcy;&lcy;&yacy; &bcy;&ocy;&lcy;&iecy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&gcy;&ocy; &vcy;&khcy;&ocy;&dcy;&acy; &vcy; &vcy;&ocy;&dcy;&ucy; &vcy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&iecy; &icy;&dcy;&iecy;&tcy; &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&acy;&yacy; &lcy;&iecy;&scy;&tcy;&ncy;&icy;&tscy;&acy;.
            | &Dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy; &kcy;&ocy;&ncy;&scy;&tcy;&rcy;&ucy;&kcy;&tscy;&icy;&yucy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy;&nbsp;&pcy;&ocy;&lcy;&ocy;&chcy;&kcy;&ocy;&jcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &bcy;&rcy;&acy;&tcy;&softcy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy;
            | &lcy;&yucy;&bcy;&icy;&mcy;&ycy;&iecy; &ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy; &icy; &ocy;&tcy;&dcy;&ycy;&khcy;&acy;&tcy;&softcy; &scy; &mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ocy;&mcy;.
          p
            | &Vcy;&ycy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ncy;&iecy;&zhcy;&icy;&tcy;&softcy;&scy;&yacy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &gcy;&ocy;&dcy;, &pcy;&rcy;&icy; &lcy;&yucy;&bcy;&ocy;&jcy; &pcy;&ocy;&gcy;&ocy;&dcy;&iecy;.
            | &Dcy;&ocy;&bcy;&icy;&tcy;&softcy;&scy;&yacy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ncy;&ocy;&jcy; &tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&ycy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &pcy;&iecy;&chcy;&softcy; &icy;&zcy; &ncy;&iecy;&rcy;&zhcy;&acy;&vcy;&iecy;&yucy;&shchcy;&iecy;&jcy;
            | &scy;&tcy;&acy;&lcy;&icy;, &acy;&kcy;&kcy;&ucy;&rcy;&acy;&tcy;&ncy;&ocy; &icy;&ncy;&tcy;&iecy;&gcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&acy;&yacy; &vcy; &iecy;&mcy;&kcy;&ocy;&scy;&tcy;&softcy;. &Zcy;&acy;&khcy;&ocy;&tcy;&iecy;&lcy;&ocy;&scy;&softcy; &pcy;&ocy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy;&scy;&yacy;
            | &vcy; &ocy;&bcy;&vcy;&ocy;&lcy;&acy;&kcy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy;, &ucy;&scy;&pcy;&ocy;&kcy;&acy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy; &tcy;&iecy;&pcy;&lcy;&ocy;? &Vcy;&scy;&iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&tcy;&ocy;&rcy;&acy; &chcy;&acy;&scy;&acy; &mdash; &icy;
            | &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ocy;&kcy;&ucy;&ncy;&acy;&tcy;&softcy;&scy;&yacy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy;
      .product__tabs-content.common-tabs-content(data-tabs-panel='3')
        .product__tabs-desc
          p
            | &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &pcy;&ocy;&lcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &ocy;&pcy;&rcy;&acy;&vcy;&dcy;&ycy;&vcy;&acy;&iecy;&tcy; &scy;&vcy;&ocy;&iecy; &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;. &Fcy;&ucy;&ncy;&kcy;&tscy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
            | &icy; &dcy;&icy;&zcy;&acy;&jcy;&ncy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy; &pcy;&rcy;&icy;&zcy;&vcy;&acy;&ncy;&ycy; &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &ocy;&tcy;&dcy;&ycy;&khcy; &pcy;&rcy;&iecy;&mcy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy;. &CHcy;&acy;&shcy;&acy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&acy;
            | &icy;&zcy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy;&kcy;&lcy;&acy;&scy;&scy;&ncy;&ocy;&gcy;&ocy; &mcy;&ncy;&ocy;&gcy;&ocy;&scy;&lcy;&ocy;&jcy;&ncy;&ocy;&gcy;&ocy; &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tcy;&acy;, &acy; &dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &zcy;&acy;&shchcy;&icy;&tcy;&ncy;&ycy;&iecy;
            | &icy; &dcy;&iecy;&kcy;&ocy;&rcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &scy;&vcy;&ocy;&jcy;&scy;&tcy;&vcy;&acy; &iecy;&jcy; &pcy;&rcy;&icy;&dcy;&acy;&iecy;&tcy; &icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&iecy; &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&iecy;.
          p
            | &Dcy;&lcy;&yacy; &bcy;&ocy;&lcy;&iecy;&iecy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&gcy;&ocy; &vcy;&khcy;&ocy;&dcy;&acy; &vcy; &vcy;&ocy;&dcy;&ucy; &vcy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&iecy; &icy;&dcy;&iecy;&tcy; &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&acy;&yacy; &lcy;&iecy;&scy;&tcy;&ncy;&icy;&tscy;&acy;.
            | &Dcy;&ocy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy; &kcy;&ocy;&ncy;&scy;&tcy;&rcy;&ucy;&kcy;&tscy;&icy;&yucy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy;&nbsp;&pcy;&ocy;&lcy;&ocy;&chcy;&kcy;&ocy;&jcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &bcy;&rcy;&acy;&tcy;&softcy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy;
            | &lcy;&yucy;&bcy;&icy;&mcy;&ycy;&iecy; &ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy; &icy; &ocy;&tcy;&dcy;&ycy;&khcy;&acy;&tcy;&softcy; &scy; &mcy;&acy;&kcy;&scy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ycy;&mcy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ocy;&mcy;.
          p
            | &Vcy;&ycy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ncy;&iecy;&zhcy;&icy;&tcy;&softcy;&scy;&yacy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&icy; &kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &gcy;&ocy;&dcy;, &pcy;&rcy;&icy; &lcy;&yucy;&bcy;&ocy;&jcy; &pcy;&ocy;&gcy;&ocy;&dcy;&iecy;.
            | &Dcy;&ocy;&bcy;&icy;&tcy;&softcy;&scy;&yacy; &kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ncy;&ocy;&jcy; &tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&ycy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &pcy;&iecy;&chcy;&softcy; &icy;&zcy; &ncy;&iecy;&rcy;&zhcy;&acy;&vcy;&iecy;&yucy;&shchcy;&iecy;&jcy;
            | &scy;&tcy;&acy;&lcy;&icy;, &acy;&kcy;&kcy;&ucy;&rcy;&acy;&tcy;&ncy;&ocy; &icy;&ncy;&tcy;&iecy;&gcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&acy;&yacy; &vcy; &iecy;&mcy;&kcy;&ocy;&scy;&tcy;&softcy;. &Zcy;&acy;&khcy;&ocy;&tcy;&iecy;&lcy;&ocy;&scy;&softcy; &pcy;&ocy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy;&scy;&yacy;
            | &vcy; &ocy;&bcy;&vcy;&ocy;&lcy;&acy;&kcy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy;, &ucy;&scy;&pcy;&ocy;&kcy;&acy;&icy;&vcy;&acy;&yucy;&shchcy;&iecy;&iecy; &tcy;&iecy;&pcy;&lcy;&ocy;? &Vcy;&scy;&iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&tcy;&ocy;&rcy;&acy; &chcy;&acy;&scy;&acy; &mdash; &icy;
            | &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ocy;&kcy;&ucy;&ncy;&acy;&tcy;&softcy;&scy;&yacy; &vcy; &kcy;&ucy;&pcy;&iecy;&lcy;&softcy;
