section.inner-page
  .container
    .inner-page__title &Gcy;&dcy;&iecy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy;
    .inner-page__subtitle
      | &Ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &dcy;&icy;&lcy;&iecy;&rcy;&ycy; BUDERA