section.offices
  .container
    .offices__select 
      <select class="js-select" multiple>
        <option value="1">Москва</option>
        <option value="2">Екатеринбург</option>
        <option value="3">Омск</option>
        <option value="4">Барнаул</option>
        <option value="5">Бийск</option>
      </select>
    .offices__map.js-map 
      
    .offices__list
      .offices__item
        .offices__item-city &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
        .offices__item-places
          .offices__item-place
            span &Rcy;&ycy;&ncy;&ocy;&kcy; &Scy;&acy;&dcy;&ocy;&vcy;&ocy;&dcy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 123-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
          .offices__item-place
            span &Mcy;&acy;&kcy;&scy;&icy;&dcy;&ocy;&mcy;
            |                             &ucy;&lcy;. &Scy;&vcy;&iecy;&rcy;&dcy;&lcy;&ocy;&vcy;&acy;, 22 
            br
            |                             +7 (910) 245-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
          .offices__item-place
            span &Dcy;&ocy;&mcy;&acy;&shcy;&ncy;&icy;&jcy; &Mcy;&acy;&scy;&tcy;&iecy;&rcy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 123-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
          .offices__item-place
            span &Bcy;&acy;&ncy;&icy; &Mcy;&icy;&rcy;&acy;
            |                             &ucy;&lcy;. &Scy;&vcy;&iecy;&rcy;&dcy;&lcy;&ocy;&vcy;&acy;, 22 
            br
            |                             +7 (910) 245-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
      .offices__item
        .offices__item-city &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&bcy;&ucy;&rcy;&gcy;
        .offices__item-places
          .offices__item-place
            span &Rcy;&ycy;&ncy;&ocy;&kcy; &ncy;&acy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 123-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
          .offices__item-place
            span &Mcy;&iecy;&gcy;&acy;
            |                             &ucy;&lcy;. &Scy;&vcy;&iecy;&rcy;&dcy;&lcy;&ocy;&vcy;&acy;, 22 
            br
            |                             +7 (910) 245-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
          .offices__item-place
            span &Vcy;&ocy;&dcy;&yacy;&ncy;&ocy;&jcy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 123-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
      .offices__item
        .offices__item-city &Ocy;&mcy;&scy;&kcy;
        .offices__item-places
          .offices__item-place
            span &Rcy;&ycy;&ncy;&ocy;&kcy; &ncy;&acy; &Mcy;&ocy;&scy;&kcy;&ocy;&vcy;&scy;&kcy;&ocy;&jcy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 123-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
          .offices__item-place
            span &Mcy;&iecy;&gcy;&acy;
            |                             &ucy;&lcy;. &Scy;&vcy;&iecy;&rcy;&dcy;&lcy;&ocy;&vcy;&acy;, 22 
            br
            |                             +7 (910) 245-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
      .offices__item
        .offices__item-city &Bcy;&acy;&rcy;&ncy;&acy;&ucy;&lcy;
        .offices__item-places
          .offices__item-place
            span &Mcy;&iecy;&gcy;&acy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 245-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
      .offices__item
        .offices__item-city &Bcy;&icy;&jcy;&scy;&kcy;
        .offices__item-places
          .offices__item-place
            span &Vcy;&ocy;&dcy;&yacy;&ncy;&ocy;&jcy;
            |                             &ucy;&lcy;. &Kcy;&ucy;&jcy;&bcy;&ycy;&shcy;&iecy;&vcy;&acy;, 134 
            br
            |                             +7 (910) 245-34-45 
            br
            |                             &Pcy;&ncy; &mdash; &Scy;&bcy; &scy; 10:00 &mdash; 19:00, &Vcy;&scy; &mdash; &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ocy;&jcy;
