section.portfolio(data-tabs) 
  .container 
    .portfolio__nav 
      button.portfolio__nav-btn.is-selected(data-tabs-control="g-01") Купель Exelent 250 на веранде
      button.portfolio__nav-btn(data-tabs-control="g-02") Купель MegaStar в коттедже
      button.portfolio__nav-btn(data-tabs-control="g-03") Купель Perfect 300 на улице
      button.portfolio__nav-btn(data-tabs-control="g-04") Купель MegaStar
    .portfolio__content.is-active(data-tabs-panel="g-01")
      .portfolio__gallery 
        .portfolio__gallery-col
          a(href="./images/portfolio/img-01.jpg" data-fslightbox="gallery").portfolio__gallery-item 
            img(src="./images/portfolio/img-01.jpg", alt="")
            span Название или ситуация
          a(href="./images/portfolio/img-02.jpg" data-fslightbox="gallery").portfolio__gallery-item 
            img(src="./images/portfolio/img-02.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-07.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-08.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--col-2
            img(src="./images/portfolio/img-10.jpg", alt="")
            span Название или ситуация
        .portfolio__gallery-col
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-04.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-06.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-09.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-11.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--right.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-12.jpg", alt="")
            span Название или ситуация
    .portfolio__content(data-tabs-panel="g-02")
      .portfolio__gallery 
        .portfolio__gallery-col
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-01.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-02.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-07.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-08.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--col-2
            img(src="./images/portfolio/img-10.jpg", alt="")
            span Название или ситуация
        .portfolio__gallery-col
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-04.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-06.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-09.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-11.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--right.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-12.jpg", alt="")
            span Название или ситуация
    .portfolio__content(data-tabs-panel="g-03")
      .portfolio__gallery 
        .portfolio__gallery-col
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-01.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-02.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-07.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-08.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--col-2
            img(src="./images/portfolio/img-10.jpg", alt="")
            span Название или ситуация
        .portfolio__gallery-col
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-04.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-06.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-09.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-11.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--right.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-12.jpg", alt="")
            span Название или ситуация
    .portfolio__content(data-tabs-panel="g-04")
      .portfolio__gallery 
        .portfolio__gallery-col
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-01.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-02.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-07.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-08.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--col-2
            img(src="./images/portfolio/img-10.jpg", alt="")
            span Название или ситуация
        .portfolio__gallery-col
          .portfolio__gallery-item.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-04.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-06.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-03.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-09.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item 
            img(src="./images/portfolio/img-11.jpg", alt="")
            span Название или ситуация
          .portfolio__gallery-item.portfolio__gallery-item--right.portfolio__gallery-item--row-2 
            img(src="./images/portfolio/img-12.jpg", alt="")
            span Название или ситуация