section.faq.section
  .container.faq__container 
    .faq__wrapper
      .faq__info
        .faq__title.h3  Вопросы и ответы
        .faq__desc  Познакомьтесь с наиболее часто задаваемыми вопросами. Вы можете задать свой вопрос, воспользуйтесь формой.
        form.faq__form(action="#")
          .form-group
            label.form-label(for="#") 
            input.form-control(type="text" placeholder="Ваше имя *")
            span.form-error-icon   
          .form-group
            label.form-label(for="#") 
            input.form-control(type="text" placeholder="Ваше имя *")
            span.form-error-icon   
          .form-group
            label.form-label(for="#") 
            textarea.form-control(name="" type="text" placeholder="Задать свой вопрос *")
            span.form-error-icon   
          .form-checkbox 
            input(type="checkbox", name="" id="faq_condition" checked)
            label(for="faq_condition") Согласен с условиями обработки персональных данных
          button(type="submit" class="form-btn btn") Отправить вопрос 
      .faq__list
        .faq__item.js-accordeon
          .faq__item-head.js-accordeon-head 
            .faq__item-title Как производится оплата и какие гарантии?
            .faq__item-toggler 
          .faq__item-body.js-accordeon-body 
            .faq__item-text
              | Наше производство находится 
              | в Московской области, в городе
              | Мытищи, Фуражный проезд, д.4. Производство не является закрытым, 
              | вы в любой момент можете подъехать для оценки качества наших 
              | изделий и самой древесины. Но в любом случае желательно согласовать 
              | дату вашего приезда с менеджером, что-бы вас встретили и проводили 
              | в цех. Приезжайте, будем рады видеть вас!
        .faq__item.js-accordeon.is-open
          .faq__item-head.js-accordeon-head 
            .faq__item-title Где находится ваше производство и могу ли я туда приехать посмотреть на изделия?
            .faq__item-toggler 
          .faq__item-body.js-accordeon-body 
            .faq__item-text
              | Наше производство находится 
              | в Московской области, в городе
              | Мытищи, Фуражный проезд, д.4. Производство не является закрытым, 
              | вы в любой момент можете подъехать для оценки качества наших 
              | изделий и самой древесины. Но в любом случае желательно согласовать 
              | дату вашего приезда с менеджером, что-бы вас встретили и проводили 
              | в цех. Приезжайте, будем рады видеть вас!
        .faq__item.js-accordeon
          .faq__item-head.js-accordeon-head 
            .faq__item-title У вас дороже, чем у конкурентов. Почему? Могу я получить скидку?
            .faq__item-toggler 
          .faq__item-body.js-accordeon-body 
            .faq__item-text
              | Наше производство находится 
              | в Московской области, в городе
              | Мытищи, Фуражный проезд, д.4. Производство не является закрытым, 
              | вы в любой момент можете подъехать для оценки качества наших 
              | изделий и самой древесины. Но в любом случае желательно согласовать 
              | дату вашего приезда с менеджером, что-бы вас встретили и проводили 
              | в цех. Приезжайте, будем рады видеть вас!
        .faq__item.js-accordeon
          .faq__item-head.js-accordeon-head 
            .faq__item-title Могу ли я оплатить изделие по факту его получения?
            .faq__item-toggler 
          .faq__item-body.js-accordeon-body 
            .faq__item-text
              | Наше производство находится 
              | в Московской области, в городе
              | Мытищи, Фуражный проезд, д.4. Производство не является закрытым, 
              | вы в любой момент можете подъехать для оценки качества наших 
              | изделий и самой древесины. Но в любом случае желательно согласовать 
              | дату вашего приезда с менеджером, что-бы вас встретили и проводили 
              | в цех. Приезжайте, будем рады видеть вас!
        .faq__item.js-accordeon
          .faq__item-head.js-accordeon-head 
            .faq__item-title Есть ли возможность окраски изделия в уникальный цвет по образцу?
            .faq__item-toggler 
          .faq__item-body.js-accordeon-body 
            .faq__item-text
              | Наше производство находится 
              | в Московской области, в городе
              | Мытищи, Фуражный проезд, д.4. Производство не является закрытым, 
              | вы в любой момент можете подъехать для оценки качества наших 
              | изделий и самой древесины. Но в любом случае желательно согласовать 
              | дату вашего приезда с менеджером, что-бы вас встретили и проводили 
              | в цех. Приезжайте, будем рады видеть вас!
        .faq__item.js-accordeon
          .faq__item-head.js-accordeon-head 
            .faq__item-title Сколько времени занимает изготовление и доставка?
            .faq__item-toggler 
          .faq__item-body.js-accordeon-body 
            .faq__item-text
              | Наше производство находится 
              | в Московской области, в городе
              | Мытищи, Фуражный проезд, д.4. Производство не является закрытым, 
              | вы в любой момент можете подъехать для оценки качества наших 
              | изделий и самой древесины. Но в любом случае желательно согласовать 
              | дату вашего приезда с менеджером, что-бы вас встретили и проводили 
              | в цех. Приезжайте, будем рады видеть вас!
    