section.section.portfolio-main 
  .container 
    .portfolio-main__wrapper
      picture.portfoli-main__img 
        img(src="./images/portfolio/portfolio.png", alt="")
      .portfolio-main__info 
        h2.portfolio-main__title.h2 Портфолио
        a(href="#").portfolio-main__btn.btn.btn--light Смотреть все проекты
