$colors: (
  "whte": #fff,
  "blck": #212121,
  "drk": #2F4252,
  "blck-hover": #434343,
  "primary": #4986AC,
  "primary-light": #DCE9F1,
  "primary-dark": #162734,
  "secondary": #E4E4D4,
  "secondary-hover": #EEEEDE,
  "secondary-light": #EC4621,
  "error": #DC3545,
  "blue": #1375C3,
  "dark-blue": #051C2F,
  "light-blue": #CAD9E8,
  "green": #9CFD56,
  "grey": #7A7A7A,
  "grey-dark": #656A70, 
  "grey-light": #F5F6F7,
  "input": #F6F6F6,
  "footer-bg": #090E23,
);



:root {
  @if $colors {
    @each $key, $value in $colors {
      --color-#{$key}: #{$value};
      --color-#{$key}--rgb: #{hextorgb($value)};
    }
  }

  --font-main: "Montserrat", sans-serif;
  --font-size: 16px;
  --transition: 0.3s ease-in-out;
  --container-width: 1360px
}