section.about
  .container
    .about__info
      picture.about__info-img
        img(src='./images/about/about.png' alt='')
      .about__info-desc
        .about__info-title &Ncy;&acy;&shcy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;
        .about__info-text
          p
            | &Pcy;&rcy;&icy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&iecy; &dcy;&icy;&zcy;&acy;&jcy;&ncy;&acy; &kcy;&ucy;&pcy;&iecy;&lcy;&iecy;&jcy; &mcy;&ycy; &vcy;&dcy;&ocy;&khcy;&ncy;&ocy;&vcy;&icy;&lcy;&icy;&scy;&softcy; &gcy;&ocy;&lcy;&lcy;&acy;&ncy;&dcy;&scy;&kcy;&ocy;&jcy; &vcy;&acy;&ncy;&ncy;&ocy;&jcy;
            | dutchtub, &ncy;&ocy; &dcy;&ocy;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&lcy;&icy; &icy; &ucy;&scy;&ocy;&vcy;&iecy;&rcy;&shcy;&iecy;&ncy;&scy;&tcy;&vcy;&ocy;&vcy;&acy;&lcy;&icy; &iecy;&iocy;. &Ncy;&acy;&shcy;&icy; &kcy;&ucy;&pcy;&iecy;&lcy;&icy; &vcy; &dcy;&icy;&acy;&mcy;&iecy;&tcy;&rcy;&iecy;
            | &bcy;&ocy;&lcy;&softcy;&shcy;&iecy; &tcy;&rcy;&acy;&dcy;&icy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&khcy; &gcy;&ocy;&lcy;&lcy;&acy;&ncy;&dcy;&scy;&kcy;&icy;&khcy; &ncy;&acy; 27 &scy;&mcy;, &pcy;&rcy;&icy; &ecy;&tcy;&ocy;&mcy; &ocy;&ncy;&icy; &tcy;&acy;&kcy;&icy;&iecy; &zhcy;&iecy; &lcy;&iecy;&gcy;&kcy;&icy;&iecy;
            | (&vcy;&iecy;&scy; &vcy;&scy;&iecy;&gcy;&ocy; 75 &kcy;&gcy;), &icy; &icy;&khcy; &mcy;&ocy;&zhcy;&ncy;&ocy; &pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&zcy;&icy;&tcy;&softcy; &vcy; &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&mcy; &pcy;&rcy;&icy;&tscy;&iecy;&pcy;&iecy;.
          p
            | &Ncy;&acy;&shcy;&acy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&acy;&yacy; &ucy;&ncy;&icy;&kcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&acy;&nbsp;&ndash; &ecy;&tcy;&ocy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&pcy;&ocy;&dcy;&ocy;&gcy;&rcy;&iecy;&vcy;&acy;,
            | &kcy;&ocy;&tcy;&ocy;&rcy;&acy;&yacy; &vcy;&scy;&tcy;&rcy;&ocy;&iecy;&ncy;&acy; &vcy; &chcy;&acy;&shcy;&ucy; &kcy;&ucy;&pcy;&iecy;&lcy;&icy; &icy; &pcy;&ocy;&zcy;&vcy;&ocy;&lcy;&yacy;&iecy;&tcy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&icy;&vcy;&acy;&tcy;&softcy; &tcy;&iecy;&mcy;&pcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&ucy;
            | &vcy;&ocy;&dcy;&ycy;, &chcy;&tcy;&ocy;&bcy;&ycy; &ocy;&ncy;&acy; &ncy;&iecy; &ocy;&scy;&tcy;&ycy;&vcy;&acy;&lcy;&acy; &ncy;&acy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&ocy;&mcy; &vcy;&ocy;&zcy;&dcy;&ucy;&khcy;&iecy;.
    .sertificats(data-tabs='')
      .common-tabs-controls
        button.common-tabs-control.is-selected(type='button' data-tabs-control='1') &Scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;&ycy;
        button.common-tabs-control(type='button' data-tabs-control='2') &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&jcy;&ncy;&ycy;&iecy; &ocy;&bcy;&yacy;&zcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&acy;
        button.common-tabs-control(type='button' data-tabs-control='3') &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &icy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
        button.common-tabs-control(type='button' data-tabs-control='4') &Vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;
      .common-tabs-content.is-active(data-tabs-panel='1')
        .sertificats__slider.js-sert-slider
          .swiper-wrapper
            .sertificats__item.swiper-slide
              picture
                img(src='./images/sertificats/img-01.png' alt='')
            .sertificats__item.swiper-slide
              picture
                img(src='./images/sertificats/img-02.png' alt='')
            .sertificats__item.swiper-slide
              picture
                img(src='./images/sertificats/img-03.png' alt='')
            .sertificats__item.swiper-slide
              picture
                img(src='./images/sertificats/img-04.png' alt='')
            .sertificats__item.swiper-slide
              picture
                img(src='./images/sertificats/img-05.png' alt='')
            .sertificats__item.swiper-slide
              picture
                img(src='./images/sertificats/img-01.png' alt='')