section.inner-page
  .container
    .about__title.inner-page__title
      | &Mcy;&ycy; &mdash; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy; Budera
    .about__desc.inner-page__desc
      | &Kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy; &laquo;Budera&raquo; &ndash; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tcy;&ncy;&ycy;&khcy; &kcy;&ucy;&pcy;&iecy;&lcy;&iecy;&jcy;. &Kcy;&ucy;&pcy;&iecy;&lcy;&icy; Budera &mcy;&ocy;&zhcy;&ncy;&ocy;
      | &ucy;&vcy;&icy;&dcy;&iecy;&tcy;&softcy; &ncy;&acy; &tcy;&iecy;&rcy;&rcy;&icy;&tcy;&ocy;&rcy;&icy;&icy; &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ycy;&khcy; &bcy;&acy;&zcy; &ocy;&tcy;&dcy;&ycy;&khcy;&acy;, &ncy;&acy; &tcy;&iecy;&rcy;&rcy;&acy;&scy;&acy;&khcy; &zcy;&acy;&gcy;&ocy;&rcy;&ocy;&dcy;&ncy;&ycy;&khcy; &dcy;&ocy;&mcy;&ocy;&vcy; &icy;
      | &ucy;&scy;&acy;&dcy;&iecy;&bcy;.  &Lcy;&ucy;&chcy;&shcy;&icy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy; &icy; &kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&ucy;&yucy;&shchcy;&icy;&iecy;, &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&iecy; &ocy;&bcy;&ocy;&rcy;&ucy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;, &kcy;&ocy;&mcy;&pcy;&softcy;&yucy;&tcy;&iecy;&rcy;&ncy;&ocy;&iecy;
      | &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;, &vcy;&iecy;&lcy;&icy;&kcy;&ocy;&lcy;&iecy;&pcy;&ncy;&ocy;&iecy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &pcy;&ocy;&vcy;&iecy;&rcy;&khcy;&ncy;&ocy;&scy;&tcy;&iecy;&jcy;, &ocy;&rcy;&icy;&gcy;&icy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &tscy;&vcy;&iecy;&tcy;&ocy;&vcy;&ycy;&iecy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&yacy;
      | &ocy;&tcy; &kcy;&lcy;&acy;&scy;&scy;&icy;&kcy;&icy; &dcy;&ocy; &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy;.
      | &Ncy;&acy;&scy;&lcy;&acy;&zhcy;&dcy;&acy;&jcy;&tcy;&iecy;&scy;&softcy; &pcy;&rcy;&icy;&rcy;&ocy;&dcy;&ocy;&jcy; &vcy;&mcy;&iecy;&scy;&tcy;&iecy; &scy; &kcy;&ucy;&pcy;&iecy;&lcy;&yacy;&mcy;&icy; Budera!